*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:gilroy;
    color:aliceblue;

}html,
body{
    height:100%;
    width:100%;
    background-color: black;
}
#page1{
    height: 100%;
    width: 100%;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100%;
    width: 100%;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    height:300px;
    width:300px;
    background-color:crimson;
}
#box2{
    height:300px;
    width:300px;
    background-color:rgb(20, 110, 220);
}
#box3{
    height:300px;
    width:300px;
    background-color:rgb(63, 220, 20);
}
